<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action='/user/add' method='POST' class="formElement">
        <label for="name">Enter Name:</label>
        <input type="text" name="username" required class="inputbar" /> <br/><br/>
        <label for="email">Enter Email:</label>
        <input type="text" name="useremail" required class="inputbar"/> <br/><br/>
        <button class="button1">Submit</button>
    </form>
</body>
</html>