<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action='/user/add' method='POST' class="formElement">
        <label for="name">Enter Name:</label>
        <input type="text" name="name" required class="inputbar"/> <br/><br/>
        <label for="email">Enter Email:</label>
        <input type="text" name="email" required class="inputbar"/> <br/><br/>
        <button class="button1">Submit</button>
    </form>
</body>
</html>